<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
    <!--begin::Card title-->
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Information Utilisateur</h3>
    </div>
    <!--end::Card title-->
  </div>
  <!--begin::Card header-->
  <!--begin::Content-->
  <div id="kt_account_settings_profile_details" class="collapse show">
    <!--begin::Form-->
    <form id="kt_account_profile_details_form" [formGroup]="userform" (ngSubmit)="submit($event)" class="form">
      <!--begin::Card body-->
      <div class="card-body border-top p-9">

        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Nom d'utilisateur</label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8">
            <!--begin::Row-->
            <div class="row">
                <input formControlName="username" [(ngModel)]="UserModel.username" type="text" name="fname" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="Entre username" value="" />
            </div>
            <!--end::Row-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">Email</label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <input type="email" formControlName="email"  [(ngModel)]="UserModel.email" class="form-control form-control-solid" rows="3" name="target_details" placeholder="Entrer email">
          </div>
          <!--end::Col-->
        </div>

        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">Mot de passe</label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <input type="password" formControlName="password"  [(ngModel)]="UserModel.password" class="form-control form-control-solid" rows="3" name="target_details" placeholder="Entrer password">
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">Roles</span>
            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Select Role"></i>
          </label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <ng-select formControlName="roles" [(ngModel)]="role">
              <ng-option  value="admin">ROLE ADMIN</ng-option>
              <ng-option value="achat">ROLE ACHAT</ng-option>
              <ng-option value="technicien">ROLE TECHNICIEN</ng-option>
            </ng-select>
          </div>
          <!--end::Col-->
        </div>
      </div>
      <!--end::Card body-->
      <!--begin::Actions-->
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="reset" [routerLink]="['/auth','users','lists']" class="btn btn-light btn-active-light-primary me-2">Retour</button>
        <button [disabled]="userform.invalid" type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Enregistrer</button>
      </div>
      <!--end::Actions-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Content-->
</div>

