<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
    <!--begin::Card title-->
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Ajouter une Sortie</h3>
    </div>
    <!--end::Card title-->
  </div>
  <!--begin::Card header-->
  <!--begin::Content-->
  <div id="kt_account_settings_profile_details" class="collapse show">
    <!--begin::Form-->
    <form id="kt_account_profile_details_form" [formGroup]="SortieForm" (ngSubmit)="submit($event)" class="form">
      <!--begin::Card body-->
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">Date Sortie</span>
            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Phone number must be active"></i>
          </label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
          <!-- <ng2-flatpickr
          formControlName="dateSortie"
          [(ngModel)]="selectedDateSortie"
          placeholder="Date Sortie"
          [config]="dateSortieOptions"></ng2-flatpickr> -->

          <mat-form-field appearance="fill" >
            <mat-label>Date Sortie</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateSortie" [(ngModel)]="selectedDateSortie">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>


          <!--end::Col-->
        </div>

        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">Produit</span>
            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Select Produit"></i>
          </label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <ng-select formControlName="product" [(ngModel)]="sortieModel.product.idPiece">
              <ng-option *ngFor="let product of products" [value]="product.idPiece">{{product.libelle}}</ng-option>
            </ng-select>
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">Technicien</span>
            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Select Technician"></i>
          </label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <ng-select formControlName="technician" [(ngModel)]="sortieModel.technician.id">
              <ng-option *ngFor="let technician of technicians" [value]="technician.id">{{technician.libelle}}</ng-option>
            </ng-select>
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">Observation</label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <textarea formControlName="observation"  [(ngModel)]="this.sortieModel.observation" class="form-control form-control-solid" rows="3" name="target_details" placeholder="Entrer Observation"></textarea>
          </div>
          <!--end::Col-->
        </div>
        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label fw-bold fs-6">
            <span class="required">Quantite</span>
            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Phone number must be active"></i>
          </label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            <input formControlName="quantite" [(ngModel)]="this.sortieModel.quantite" type="number" min="0" class="form-control form-control-lg form-control-solid" placeholder="Entre Quantité" />
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->

      </div>
      <!--end::Card body-->
      <!--begin::Actions-->
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="reset" [routerLink]="[ '/sorties']" class="btn btn-light btn-active-light-primary me-2">Retour</button>
        <button [disabled]="SortieForm.invalid" type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Enregistrer</button>
      </div>
      <!--end::Actions-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Content-->
</div>
<!--end::Basic info-->

